Repository shikorism/tissue, pull requests merged in 2019-09, with the labels that each got.

#268 Release 20190906.0000
  .circleci/config.yml
  Dockerfile
  README.md
  app/Http/Controllers/SettingController.php
  app/Http/Controllers/UserController.php
  app/MetadataResolver/DLsiteResolver.php
  app/MetadataResolver/DeviantArtResolver.php
  app/MetadataResolver/IwaraResolver.php
  app/MetadataResolver/MetadataResolver.php
  app/MetadataResolver/NijieResolver.php
  app/MetadataResolver/ToranoanaResolver.php
  app/MetadataResolver/XtubeResolver.php
  composer.json
  composer.lock
  package.json
  phpunit.xml
  resources/assets/js/components/TagInput.vue
  resources/assets/js/user/stats.js
  resources/views/setting/profile.blade.php
  resources/views/user/stats.blade.php
  tests/Unit/MetadataResolver/DLsiteResolverTest.php
  tests/Unit/MetadataResolver/DeviantArtResolverTest.php
  tests/Unit/MetadataResolver/IwaraResolverTest.php
  tests/Unit/MetadataResolver/NijieResolverTest.php
  tests/Unit/MetadataResolver/PixivResolverTest.php
  tests/Unit/MetadataResolver/ToranoanaResolverTest.php
  tests/Unit/MetadataResolver/XtubeResolverTest.php
  tests/fixture/DLsite/testHTMLdescription.html
  tests/fixture/DeviantArt/mature.json
  tests/fixture/DeviantArt/wixmp.json
  tests/fixture/DeviantArt/wixmpNoImageOptions.json
  tests/fixture/Iwara/images.html
  tests/fixture/Iwara/video.html
  tests/fixture/Iwara/youtube.html
  tests/fixture/Nijie/testAnimationGifResponse.html
  tests/fixture/Nijie/testMp4MovieResponse.html
  tests/fixture/Nijie/testMultiplePictureResponse.html
  tests/fixture/Nijie/testStandardPictureResponse.html
  tests/fixture/Pixiv/illustMultiPages.json
  tests/fixture/Toranoana/testJoshi.html
  tests/fixture/Toranoana/testJoshiD.html
  tests/fixture/Toranoana/testJoshiR.html
  tests/fixture/Toranoana/testJoshiRD.html
  tests/fixture/Toranoana/testTora.html
  tests/fixture/Toranoana/testToraD.html
  tests/fixture/Toranoana/testToraR.html
  tests/fixture/Toranoana/testToraRD.html
  tests/fixture/Xtube/test.json
  yarn.lock
Labels: release

#278 ニコニコ静画のタグを取得する & テストの追加
  app/MetadataResolver/NicoSeigaResolver.php
  tests/Unit/MetadataResolver/NicoSeigaResolverTest.php
  tests/fixture/NicoSeiga/seiga.html
  tests/fixture/NicoSeiga/shunga.html
Labels: metadata

#285 いいね非公開のユーザーが、チェックイン画面のいいね件数欄に露出してしまう不具合の修正
  app/Ejaculation.php
Labels: bug

#290 PixivResolver 新URL形式に対応
  app/MetadataResolver/MetadataResolver.php
  app/MetadataResolver/PixivResolver.php
  tests/Unit/MetadataResolver/PixivResolverTest.php
Labels: metadata
