Repository shikorism/tissue, pull requests merged in 2021-11, with the labels that each got.

#774 XtubeResolverを削除
  app/MetadataResolver/MetadataResolver.php
  app/MetadataResolver/XtubeResolver.php
  tests/Unit/MetadataResolver/XtubeResolverTest.php
  tests/fixture/Xtube/video.html
Labels: metadata

#773 PlurkResolver 外部リンクがある場合の問題を修正
  app/MetadataResolver/PlurkResolver.php
  tests/Unit/MetadataResolver/PlurkResolverTest.php
  tests/fixture/Plurk/test.html
  tests/fixture/Plurk/testWithExtenalLink.html
Labels: metadata

#778 Release 20211107.1533
  app/Http/Controllers/Api/CheckinController.php
  app/Http/Controllers/EjaculationController.php
  app/Http/Controllers/UserController.php
  app/MetadataResolver/MetadataResolver.php
  app/MetadataResolver/PlurkResolver.php
  app/MetadataResolver/XtubeResolver.php
  composer.json
  composer.lock
  package.json
  resources/assets/js/tissue.ts
  resources/views/components/delete-checkin-modal.blade.php
  resources/views/components/ejaculation.blade.php
  resources/views/ejaculation/show.blade.php
  resources/views/home.blade.php
  resources/views/search/index.blade.php
  resources/views/timeline/public.blade.php
  resources/views/user/likes.blade.php
  resources/views/user/profile.blade.php
  routes/api.php
  routes/web.php
  tests/Unit/MetadataResolver/PlurkResolverTest.php
  tests/Unit/MetadataResolver/XtubeResolverTest.php
  tests/fixture/Plurk/test.html
  tests/fixture/Plurk/testWithExtenalLink.html
  tests/fixture/Xtube/video.html
  yarn.lock
Labels: release

#795 ESLint 8
  .eslintrc.js
  package.json
  yarn.lock
Labels: review wanted
